.Box {
  width: 505px;
  height: 263px;

  background: #eaabf4;
}
.Text {
  width: 105px;
  height: 14px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}
