.Cover {
  width: 856px;
  height: 868px;

  background: rgba(136, 130, 130, 0.81);
}
.Paragraph {
  width: 444px;
  height: 73px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  text-align: center;

  color: #fffafa;
}
.X {
  width: 15px;
  height: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #fffcfc;
}
